/* the position is absolute */
body {
	font-size:1.5em;
	position:absolute;
	width:100%;
}

.book {
	position:relative;
	
}


.toc .chapter {
   margin-left:10%;
   margin-right:10%;
	
}

.section {
	padding-left:10%;
	padding-right:20%;
}


.toc .index {
   margin-left:10%;
	
}

.toc .section {
   margin-left:15%;
	
}

.blockquote {
	background-color:#FAFAFA;
	padding-top:0.2em;
	padding-bottom:0.2em;
}
/* ------------ Logo -------------------- */
/* An image is displayed at top-left that occupies the entire width */
/* The parent is 'body' which must be set to absolute position */
/* for absolute position of children to take effect */
#logo-container {
    width:100%;
    overflow:hidden;
    position:relative;
}

#logo-container img {
  width:100%;
}

#logo-container p {
  z-index: 100;
  position: absolute;
  color: white;
  font-weight: bold;
}

#logo-container p#title {
  font-size:2em;
  font-weight: bold;
  left: 20%;
  top: 50%;
}

#logo-container p#subtitle {
  font-size:1.5em;
  left: 40%;
  top: 70%;
	
}

/** --- Horizontal navigation menu ------ */
#horizonal_menu {
	width:100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position:relative;
    background-color: #333;
}


li {
    float:left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.breadcrumb-link {
	font-size:0.5em;
	padding-top:1em;
	padding-right:1em;
}

.breadcrumb-node {
	font-style:bold;
	font-size:0.5em;
}

.navfooter {
	margin-right:5%;
	margin-left:5%;
	
}
/*  ------ hr with images */
hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
/** 
hr::after {
          content: url('../images/home.png');
          position: relative;
          display: inline-block;
          
          transform:translate(20%,-50%) scale(0.5);
          background: #fff;
        }
*/ 
        